<blockquote>
    <h5>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            aria-hidden="true"
            style="height: 1.4rem; display: inline"
            class="dark:hx-text-yellow-200 hx-text-orange-800"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
        </svg>
        <u class="dark:hx-text-yellow-200 hx-text-orange-800">Question</u>
    </h5>
    <div style="margin-top: 1.5rem">
        <span
            class="dark:hx-text-yellow-200 hx-text-orange-800"
            style="font-style: normal"
        >
            {{ .Inner | .Page.RenderString }}
        </span>
    </div>
</blockquote>
