{{- $week := .Get "week" -}}

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
>
<a href="/slides/{{ $week }}.pdf" class="download-button">
    <i class="fas fa-download"></i> Download PDF
</a>
<p style="padding-bottom: 10px">Click to expand:</p>
<a href="/slides/{{ $week }}/" target="_blank">
    <iframe
        src="/slides/{{ $week }}/"
        width="705"
        height="396.5"
        title="Week {{ $week }}"
        scrolling="no"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        style="pointer-events: none"
    ></iframe>
</a>

<style>
    .download-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .download-button:hover {
        background-color: #0056b3;
    }
    .download-button i {
        margin-right: 8px;
    }
</style>
